@import "./reset.css";

$color--font-main: #1e1e1e;
$color--point: #e6007a;
$color--point-hover: #fff;
$color--bg: #172026;

$fonts--main: 'Work Sans', sans-serif;

// COMMON
body {
    color: $color--font-main;
    font-family: $fonts--main;
    letter-spacing: -.02em;
    .inner {
        width: 1140px;
        margin: 0 auto;
    }
    section {
        padding-top: 12vh;
        padding-bottom: 10vh;
        .section-title {
            font-size: 3em;
        }
        .section-subTit {
            font-size: 1.9em;
        }
    }
    .main-btn {
        display: inline-block;
        position: relative;
        width: fit-content;
        padding: 15px 40px;
        overflow: hidden;
        border: 1px solid $color--point;
        border-radius: 2em;
        font-weight: 700;
        will-change: transform;
        color: $color--point;
        transform: scale(0.999);
        font-size: .95em;
        &::before {
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 2em;
            left: -100%;
            top: 0;
            background-color: $color--point;
            transition: all 0.2s ease, border 1ms ease;
        }
        &:hover, &:focus {
            color: $color--point-hover;
            transform: scale(1);
            border-color: transparent;
            &::before {
                left: 0;
                width: 100%;
                z-index: -1;
            }
        }
    }
    .btnWrap {
        text-align: center;
        width: 550px; 
        margin: 0 auto;
        b {
            display: block;
            font-size: 2em;
            padding-bottom: 1.5em;
            line-height: 1.5;
        }
    }
    a.border-btm {
        color: inherit;
        position: relative;
        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: bottom .2s;
        }
        &:hover::after {
            bottom: -2px;
        }
    } 
}

// HEADER
header {
    font-size: 20px;
    .inner {
        position: relative ;
        padding: 25px 0;
        display: flex;
        align-items: center;
    }

    // INDIV
    .logo {
        img {
            width: 180px;
        }
    }
    .gnb {
        display: flex;
        margin-left: auto;
        .mysql_user {
            position: absolute;
            width: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: $color--point;
            font-weight: 700;
            font-size: 1.2em;
        }
        nav {
            li {
                display: inline-block;
                a {
                    letter-spacing: -0.04em;
                    position: relative;
                    padding: 0 1em;
                    &::after {
                        content:'';
                        position: absolute;
                        top: -10%;
                        width: 4px;
                        height: 4px;
                        background-color: $color--point;
                        border-radius: 50%;
                        opacity: 0;
                    }
                    &:hover::after {
                        animation: headerGnb .3s ease-in-out 1;
                    }
                    @keyframes headerGnb {
                        0%{
                            opacity: .5;
                            left: 1.5em;
                        }
                        70%{
                            opacity: 1;
                        }
                        100%{
                            opacity: 0;
                            left: calc(100% - 1.5em);
                        }
                    }
                }
            }
        }
    }
}

// MAIN
main {
    .visual {
        .inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .visual-desc {
            width: 550px;
            h2 {
                font-size: 4.5em;
                letter-spacing: -.05em;
                line-height: 1.1;
                padding-bottom: .3em;
            }
            .desc {
                font-size: 1.25em;
                line-height: 1.5;
                .btnArea {
                    padding-top: 1.5em;
                    a + a {
                        margin-left: 1em;
                    }
                }
            }
        }
        .visual-img {
            width: 425px;
            img {
                width: 100%;
            }
        }
    }

    .pros {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                box-sizing: border-box;
                height: fit-content;
                padding: 0 1% 6em;
                flex-basis: 1;
                flex-grow: 0;
                width: calc(100% / 3);
                .icon {
                    display: block;
                    height: 48px;
                    padding-bottom: 1em;
                    img {
                        height: 100%;
                    }
                }
                .section-subTit {
                    padding-bottom: 1em;
                }
                p {
                    line-height: 1.5;
                }
            }
        }

    }

    .dot {
        background-color: #172026;
        color: #fff;
        .dot__title {
            text-align: center;
            .section-title {
                padding-bottom: 1em;
            }
            p {
                line-height: 1.5;
            }
        }
        .dot__main {
            $color--main: #333;
            $color--bg: #f5f5f5;
            $height--content: 250px;
            padding: 10vh 0;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    width: 30%;
                    > div  {
                        height: $height--content;
                        transition: .4s;
                        &.cont-top {
                            position: relative;
                            background: $color--main;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1;
                            transform: translateY($height--content*.5);
                            div {
                                opacity: .2;
                                transition: 0.5s;
                            }
                        }
                        &.cont-btm {
                            position: relative;
                            background-color: $color--bg;
                            box-shadow: 0 20px 50px rgba(0,0,0,.8);
                            transform: translateY(-($height--content*.5));
                            color:$color--main;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            div {
                                width: 90%;
                                a {
                                    outline : 1px dashed #333;
                                    padding: 10px;
                                    margin: 15px 0 0;
                                    display: inline-block;
                                    &:hover {
                                        background: $color--main;
                                        color: $color--bg; 
                                        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
                                    }
                                }
                            }
                        }
                    }
                    &:hover > div {
                        &.cont-top {
                            transform: translateY(0);
                            box-shadow:
                                inset 0 0 60px $color--bg,
                                inset 20px 0 80px #f0f,
                                inset -20px 0 80px #0ff,
                                inset 20px 0 300px #f0f,
                                inset -20px 0 300px #0ff,
                                0 0 50px #fff,
                                -10px 0 80px #f0f,
                                10px 0 80px #0ff;
                            > div {
                                opacity: 1;
                            }
                        }
                        &.cont-btm {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }

    .protocols {
        background-color: $color--point;
        color: #fff;
        .descWrap {
            display: flex;
            flex-basis: 0;
            h2 {
                max-width: 350px;
                width: 40%;
            }
            p {
                width: 50%;
                margin-left: auto;
                letter-spacing: .02em;
                font-size: 1.25em;
                span {
                    display: block;
                    padding-bottom: 2em;
                    
                }
            }
        }
        .listWrap {
            height: 150px;
            display: flex;
            align-items: flex-end;
            li {
                width: 25%;
                text-align: center;
                img {
                    width: 80px;
                }
            }
        }
    }

    .team {
        height: 40vh;
        background-image: url('../static/img/team_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }
        .inner {
            position: relative;
        }
        h2 {
            font-size: 4em;
            width: 85%;
            padding-bottom: .5em;
        }
        .btnWrap {
            text-align: left;
            width: 100%;
            a {
                color: inherit;
            }
        }
    }

    .blog {
        .section-title {
            text-align: center;
            padding-bottom: 2em;
        }
        ul {
            display: flex;
            justify-content: space-around;
            li {
                width: 30%;
                box-shadow: 0 0.1em 0.3em rgb(52 58 64 / 15%);
                border-radius: 5px;
                overflow: hidden;
                .card-img-top {
                    img {
                        width: 100%;
                    }
                }
                > div {
                    box-sizing: border-box;
                    padding: 5% 13%;
                }
                .card-body {
                    .desc-main {
                        line-height: 1.5;
                        .cate {
                            color: $color--point;
                            font-size: 1.1em;
                            padding-bottom: .5em;
                        }
                        h4 {
                            font-weight: 400;
                            line-height: 1.2;
                            font-size: 1.3em;
                            padding-bottom: .7em;
                        }
                    }
                    border-bottom: 1px solid #e9ecef;
                }
                .card-footer {
                    img {
                        width: 35px;
                        padding-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .join {
        text-align: center;
        .btnWrap {
            padding-bottom: 2em;
        }
        .border-btm {
            &::after {
                background-color: $color--point;
            }
        }
    }
}

// FOOTER
footer {
    background-color: $color--bg;  
    color: #fff;
    .inner {
        padding-top: 10vh;
        padding-bottom:  6vh;
    }
    .footer-top {
        display: flex;
        padding-bottom: 10%;
        ul {
            display: flex;
            justify-content: space-evenly;
            width: 75%;
            li {
                width: 30%;  
                p {
                    &.title { 
                        font-size: 1.4em; 
                    } 
                    a {
                        color: #b7b8bb;
                    }
                    padding-bottom: .9em;
                } 
            }
        }
        > div {
            width: 25%; 
            .snsWrap {
                display: flex;
                justify-content: space-between;
                a {
                    display: block;
                    padding-bottom: 1em;
                    img {
                        width: 50px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                    }
                }
                
            }
            .btnWrap {
                width: 100%;
                text-align: left;
                b {
                    font-size: 1em;
                    font-weight: 400;
                }
                a {
                    padding: 10px 30px; 
                    color: inherit;
                }
            }
        }
    }
    .footer-btm {
        display: flex;
        align-items: center; 
        .logo img {
            width: 145px;
            padding-right: 3em;
        }
        .copy {
            display: flex;  
            color: #b5aeae;
            font-size: 14px;
            
            dd {
                position: relative;
                &::before {
                    content: '|';
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: .5;
                }
                a {
                    color: inherit;
                    &:hover {
                        color: #eee;
                    }
                }
            }
            dt, a {
                padding: 0 1em;
            }
        }
    }

}

// MEDIA QUERY
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 849px;
@mixin -tablet {    // ~ tablet
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}
@mixin tablet-laptop {    // tablet ~ laptop
    @media (min-width: #{$breakpoint-tablet + 1}) and (max-width: #{$breakpoint-laptop}) {
        @content;  
    }
}
@mixin laptop- {    // laptop ~
    @media (min-width: #{$breakpoint-laptop + 1}) {
        @content; 
    }
}

@include -tablet {
    body {
        font-size: 14px;
        .desktop {
            display: none !important;
        }
        .mob {
            display: block !important;
        }
        .inner {
            width: 90%;
        }
        section {
            padding-top: 5vh;
            .section-title {
                font-size: 2em;
            }
        }
        .btnWrap {
            width: 100%;
            text-align: center;
            b {
                font-size: 1.5em;
            }
        }
        .main-btn {
            padding: 15px 20px;
        }
        a.border-btm {
            display: inline-block;
        }
    }
    header {
        .logo {
            width: 40px;
            overflow: hidden;
        }
        nav {
            svg {
                width: 50px;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent; 
                transition: transform .4s;
                user-select: none;
                &.active {
                    transform: rotate(45deg); 
                    .top {
                        stroke-dashoffset: -98px;
                    }
                    .bottom {
                        stroke-dashoffset: -138px;
                    }
                }
                path {
                    fill: none;
                    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
                    stroke: $color--point;
                    stroke-width: 5.5;
                    stroke-linecap: round;
                    &.top {
                        stroke-dasharray: 40 139;
                    }
                    &.bottom {
                        stroke-dasharray: 40 180;
                    }
                }
            }
        }
    }
    main {
        .visual {
            text-align: center;
            .inner {
                display: block;
            }
            .visual-desc {
                width: 100%;
                font-size: .8em;
            }
            .visual-img {
                width: 100%;
                padding: 10% 0;
            }
        }

        .pros {
            text-align: center;
            ul {
                display: block;
                li {
                    width: 100%;
                    height: fit-content;

                }
            }
        }
        .dot .dot__main ul {
            flex-direction: column;
            li {
                width: 100%;
                padding-bottom: 20%;
                > div.cont-top, 
                > div.cont-btm {
                    transform: none;
                }
                > div.cont-top {
                    height: 200px;
                    box-shadow: inset 0 0 60px #f5f5f5, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
                    div {
                        opacity: 1;
                    }
                }
            }
        }
        .protocols {
            .descWrap {
                flex-direction: column;
                h2 {
                    width: 100%;
                    padding-bottom: 1em;
                }
                p {
                    width: 100%;
                    font-size: 1.1em;
                }
            }
            .listWrap {
                height: 100px;
                li img {
                    width: 90%;
                }
            }
        }
        .team {
            height: 60vh;
        }
        .blog {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 5%;
                }
            }
        }
    }
    footer {
        .footer-top {
            flex-direction: column;
            ul {
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 14px;
                li {
                    width: 40%;
                    padding-bottom: 5%;
                }
            }
            > div {
                width: 100%;
                .snsWrap a img {
                    width: 40px;
                }
            }
        }
        .footer-btm {
            display: block;
            .copy {
                font-size: 12px;
                flex-wrap: wrap;
                padding-top: 2em;
                dd {
                    padding-bottom: .5em;
                }
            }
        }
    }
}

@include tablet-laptop {
    body {
        background: #b7b8bb;

        .desktop {
            display: none !important;
        }
        .mob {
            display: block !important;
        }
        .inner {
            width: 90%;
        }
        section {
            .section-title {
                font-size: 2em;
            }
        }
        .btnWrap {
            width: 100%;
            text-align: center;
            b {
                font-size: 1.5em;
            }
        }
        .main-btn {
            padding: 15px 20px;
        }
        a.border-btm {
            display: inline-block;
        }
    }

    header {
        .logo {
            width: 40px;
            overflow: hidden;
        }
        nav {
            svg {
                width: 50px;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent; 
                transition: transform .4s;
                user-select: none;
                &.active {
                    transform: rotate(45deg); 
                    .top {
                        stroke-dashoffset: -98px;
                    }
                    .bottom {
                        stroke-dashoffset: -138px;
                    }
                }
                path {
                    fill: none;
                    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
                    stroke: $color--point;
                    stroke-width: 5.5;
                    stroke-linecap: round;
                    &.top {
                        stroke-dasharray: 40 139;
                    }
                    &.bottom {
                        stroke-dasharray: 40 180;
                    }
                }
            }
        }
    }
    main {
        .visual {
            text-align: center;
            .visual-desc {
                width: 50%;
                font-size: .8em;
            }
            .visual-img {
                width: 50%;
            }
            .btnArea {
                width: 50%;
                padding-top: 3em;
            }
        }

        .pros {
            text-align: center;
            ul {
                justify-content: space-between;
                li {
                    width: 30%;
                    height: fit-content;

                }
            }
        }
        .dot .dot__main ul {
            flex-direction: column;
            li {
                width: 100%;
                height: 250px;
                padding-bottom: 20%;
                display: flex;
                > div.cont-top, 
                > div.cont-btm {
                    transform: none;
                    height: 100%;
                }
                > div.cont-top {
                    width: 30%;
                    box-shadow: inset 0 0 60px #f5f5f5, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
                    div {
                        opacity: 1;
                    }
                }
                > div.cont-btm {
                    width: 70%;
                }
            }
        }
        .protocols {
            .descWrap {
                h2 {
                    width: 350px;
                    padding-bottom: 1em;
                }
                p {
                    width: calc(100% - 350px);
                    font-size: 1.1em;
                }
            }
            .listWrap {
                height: 100px;
                li img {
                    width: 80px;
                }
            }
        }
        .team {
            height: 60vh;
        }
        .blog {
            ul {
                li {
                    width: 30%;
                    font-size: 14px;
                    margin-bottom: 5%;
                }
            }
        }
    }
    footer {
        .footer-top {
            ul {
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 14px;
            }
            > div {
                .snsWrap a img {
                    width: 40px;
                }
            }
        }
    }
}

@include laptop-  {
    body {
        .desktop {
            display: block !important;
        }
        .mob {
            display: none !important;
        }  
    }
}