@mixin colorSet($colorName) {
    color: map-get($colors, $colorName);
    // &:hover {
    //     color: map-get($colors, $colorName#{-hover});
    // }
}

$color--main-font: (
    main-font: #1e1e1e,
    point: #e6007a,
    mysql_user-font: rgba(71, 69, 67, 0.5),
);